doctype html
html(lang="es")
  head
    meta(charset='utf-8')
    meta(name='description', content='this is my first html5 page')
    meta(name='keywords', content='HTML5, CSS3, JS')
    title= pageTitle
    link(rel='stylesheet', href='../../css/styl.min.css')
  body
    header
      h1 Jade - node template engine
    nav
      ul
        li index
        li 2nd
        li 3td

    section
      article
        header
          h1 hello
        | first article
        footer
          p comments
      article
        //is not the same if dot appears or not
        p.
          Second article
    aside
      blockquote art1
      blockquote art2
    footer.
      Copyright Marek @copy; 2014
